a {
  display: block;
}
input {
  display: block;
}
div {
  display: block;
}
/* These are the initial view ports. If you start resizing we may have to consider the design up to 800 px as well. Shouldnt be an issue though! */
/* Fonts */
h2 {
  font-family: IvyJournal;
}
p {
  font-size: min(4vw, 17px);
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
.bold-text {
  -webkit-text-stroke: thin;
  font-weight: bold;
}
a {
  font-family: "Montserrat";
  font-size: 0.75rem;
  padding: 10px;
  color: #585858;
}
/* Buttons */
button {
  font-family: "Montserrat";
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: #b8c1c1;
  border: solid #b8c1c1;
  color: white;
  cursor: pointer;
}
.disabled {
  display: none;
}

.multi-button circle {
  fill: none !important;
}

button.black {
  background-color: black;
  border: solid black;
  cursor: pointer;
}
.conquer-cores button {
  padding: 1rem 3rem;
}
.best-sellers button {
  padding: 1rem 6rem;
  cursor: pointer;
}
.email-pdf button {
  padding: 1rem 4rem;
}

/* Scroll arrows */
.scroll-arrows {
  margin: 35px 0px 70px 0px;
}

.scroll-arrows h4 {
  font-family: "Montserrat";
  color: lightgrey;
  font-size: small;
  margin: 1.33em;
}
.scroll-arrows .left-arrow {
  transform: rotate(180deg);
}
.best-sellers .scroll-arrows {
  margin-top: 5px;
}
/* End of Scroll arrows */

/* Hero-Image Section */

.button-link {
  margin-top: 1.5rem;
}
/* End Hero-Image Section */

/* Conquer Cores Section */

.conquer-cores h2 {
  font-size: 7.5vw;
  margin: -1rem 0 1rem;
  position: relative;
  left: 10px;
}
.conquer-cores h4 {
  font-family: "Montserrat";
  font-size: medium;
  font-weight: 200;
}
.conquer-cores p {
  font-size: min(4vw, 15px);
  padding-right: 25%;
  margin-bottom: 25px;
}
.conquer-cores .style-block {
  background-color: #b0bdc6;
  padding: 5px 0px 5px 28px;
  margin-right: 10.6em;
  max-width: 87px;
  min-width: 87px;
  border-radius: 3px;
  font-size: 12px;
  font-family: "Montserrat";
}
.conquer-cores .text-container {
  display: flex;
  color: white;
}
/* End of Conquer Cores Section */

/* Habit Options Section */
.habit-options .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.habit-options .image-container {
  color: white;
  border-radius: 30px;
  margin: 90px 2rem 2rem 2rem;
  max-width: 270px;
}
.habit-options .popular-token {
  display: flex;
  justify-content: center;
  background-color: darkgray;
  font-family: "Montserrat";
  font-size: small;
  margin-left: 25%;
  margin-right: 25%;
  padding: 3px;
  position: relative;
  top: -7px;
}
.habit-options .image-container.addiction {
  background-color: #b0bdc6;
}
.habit-options .image-container.focus {
  background-color: #b5b5b5;
}
.habit-options .image-container.relaxation {
  background-color: #8e9a9a;
}
.habit-options .image-container.emotional {
  background-color: #8e959a;
}
.habit-options .image-container.physical {
  background-color: #bfcece;
}
.habit-options .image-container.respiratory {
  background-color: #9fadad;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 75%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.habit-options .image-container .habit-text-container .habit-arrow {
  margin: 0px;
  width: 9%;
}
.habit-options .image-container img {
  width: 3rem;
  margin: 25% 0px 0px 11%;
}
.habit-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
  margin: 0% 11%;
}
.habit-options .habit-text-container h4 {
  font-size: small;
  margin-top: 0px;
  margin-bottom: 20px;
}
.habit-options h3 {
  margin-bottom: 5px;
  margin-top: 13px;
  font-size: 1.4em;
}
/* End of Habit Options Section */

/* Best Sellers Section */
.best-sellers .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.best-sellers .button-container {
  display: flex;
  justify-content: center;
}
/* End of Best Sellers Section */

/* Reviews Section */
.reviews .image-container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.image-container.reviews img {
  width: 75%;
}
.reviews .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.reviews .button-container {
  display: flex;
  justify-content: center;
}
.stackable-content.reviews {
  margin-top: 8rem;
}
/* End of Reviews Section */

/* Help Section */
#svg_wrap {
  margin: 40px;
}
.help-section .text-content p {
  padding: 0 20%;
}
.help-section .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.help-section .button-container {
  display: flex;
  justify-content: center;
}
.help-section .image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 35px 5% 60px;
  font-family: "Montserrat";
  font-size: 4vw;
}
.help-section .circle-selection {
  width: 33%;
  text-align: center;
}
.help-section .image-container .circle-selection .circle-test {
  border: 1.7px solid black;
  border-radius: 50%;
}

.help-section .image-container .circle-selection img {
  width: 65%;
}
.multi-button{
  cursor: pointer;
}
.dynamic-title-block {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
.dynamic-title-block .option-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b0bdc6;
  padding: 0;
  width: 80%;
  border-radius: 10px;
  font-family: "Montserrat";
}
.dynamic-title-block .option-block p {
  padding: 6% 8%;
  color: white;
  font-weight: bold;
  font-size: 5vw;
}

.dynamic-title-block .option-block img {
  width: 11%;
  padding-right: 8%;
}

.cell-flex{
  display: flex;
  justify-content: center;
}

.cell-flex.two {
  margin-bottom: 80px;
}

.dynamic-options {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 13px;
}
.dynamic-options .option {
  border: solid 1px #707070;
  width: 48%;
  border-radius: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-family: "Montserrat";
  cursor: pointer;
}
.multi-step-buttons {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  cursor: pointer;
}

.multi-step-buttons .prev {
  margin-top: 20px;
  font-size: 13px;
  color: #141414;
  cursor: pointer;
}

.email-step {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.email-step p {
  margin-left: 10%;
  font-size: min(3vw, 15px);
  padding-right: 5%;
}

.email-input-step .text-content{
  width: 80%;
  margin-top: 15px;
  margin-bottom: 60px;
}

.email-input-step input{
  font-family: "Montserrat";
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-bottom: 1rem;
  min-width: 100px;
  width: 100%;
  box-sizing: border-box;
}



/* End Help Section */

/* Email PDF Section */
.stackable-content.email-pdf {
  background-color: #b8c1c1;
  border-radius: 15px;
  padding: 2rem 2rem 3rem;
  margin: 5rem 5%;
}
.email-pdf .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.email-pdf .email-submission input {
  font-family: "Montserrat";
  padding: 20px;
  border-radius: 10px;
  border: solid white;
  margin-bottom: 10%;
  margin-top: 10%;
  min-width: 100px;
  width: 100%;
  box-sizing: border-box;
}
.email-pdf .text-container h2 {
  font-size: 7vw;
  margin: 0rem 0rem 10%;
}
.email-pdf p {
  font-size: 4vw;
  padding: 0% 10%;
}
.email-pdf h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  color: grey;
  font-size: 3vw;
}
.email-pdf .image-container {
  display: flex;
  justify-content: center;
}
.email-pdf .image-container img {
  width: 30%;
}
/* End of Email PDF Section */

/* Start of Purpose Section */
.purpose-section .text-container {
  text-align: center;
}
.purpose-section .paragraph-section {
  text-align: initial;
  margin: 30px 10% 60px 10%;
}
.purpose-section p {
  margin-bottom: 15px;
  font-size: min(4vw, 17px);
}

.purpose-section .image-container {
  background-color: lightgray;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 40px;
  margin: 75px 5% 0px;
}

.tab-selection {
  cursor: pointer;
}

.purpose-section .tab-selection .first-tab {
  background-color: #d1d1d1;
  padding: 5%;
  width: 33%;
  border-radius: 10px 0px 0px 0px;
}
.purpose-section .tab-selection .second-tab {
  background-color: #b8c1c1;
  width: 33%;
  padding: 5%;

  border-radius: 0px 0px 0px 10px;
}
.purpose-section .tab-selection .third-tab {
  background-color: #9fa7a7;
  width: 33%;
  padding: 5%;

  border-radius: 0px 10px 0px 0px;
}

.purpose-section .tab-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  color: white;
  border-radius: 10px 10px 0px 0px;
  -webkit-text-stroke: medium;
  font-family: "Montserrat";
  font-size: 3vw;
}
/* End of Purpose Section */

/* Desktop Only Rules */

@media screen and (min-width: 600px) {
  .mobile {
    display: none !important;
  }
  .main {
    background-image: url(./images/wave.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
  }
  h2 {
    font-size: min(4vw, 70px);
    margin: 0;
    margin-bottom: 10px;
  }
  p {
    font-size: min(2vw, 13px);
  }

  /* Hero Image Section */

  .stackable-content.hero-image {
    display: flex;
    margin: 3rem 5%;
  }
  .hero-image .text-container {
    margin: 13% 0% 0% 5%;
    width: 35%;
  }
  .hero-image h2 {
    font-size: min(4vw, 70px);
    margin: 0;
    margin-bottom: 10px;
  }
  .hero-image .text-content p {
    font-size: min(2vw, 13px);
  }
  a {
    padding: 0px 0px 0px 10%;
  }
  .button-link .button-float {
    float: left;
    padding-right: 7%;
    padding-bottom: 5%;
  }
  .button-link .link-float {
    padding-top: 5%;
  }
  .image-container.image-container.offset-big {
    width: 50%;
  }
  .image-container.offset-big img {
    width: 130%;
  }
  /*End  Hero Image Section */

  /* HollowWood Section */
  .stackable-content.HollowWood-image {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    background-image: url("./images/light-grey-circle.png");
    background-repeat: no-repeat;
    background-position: left;
    margin: 2rem 5%;
    background-position-y: bottom;
    background-size: max(42%, 200px);
    margin-top: 12rem;
  }
  .HollowWood-image .natural-leaf-image {
    font-family: "Montserrat";
    text-align: center;
    font-size: 1vw;
    align-self: flex-end;
    left: -5%;
    position: relative;
  }
  .HollowWood-image .natural-leaf-image img {
    padding-bottom: 1rem;
    width: 75%;
  }
  .HollowWood-image p {
    font-size: min(2vw, 13px);
    margin-bottom: 2rem;
    max-width: 18rem;
  }
  .image-container.HollowWood-image {
    width: 50%;
  }
  .image-container.HollowWood-image img {
    width: 95%;
  }
  .HollowWood-image .text-container {
    width: 35%;
  }
  .HollowWood-image .button-link button {
    font-size: min(2vw, 10px);
  }

  /* End of HollowWood Section */

  /* Habit Options Section */
  .stackable-content.habit-options {
    margin-top: 12rem;
  }
  /* End Habit Options Section */

  /* Conquer Cores Section */
  .stackable-content.conquer-cores {
    margin-top: 12rem;
    background-image: url("images/conquerCoresDesk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  .conquer-cores h2 {
    font-size: 4vw;
  }
  .conquer-cores p {
    padding-right: 40%;
  }
  .conquer-cores .text-container {
    padding: 375px 0px 5% 10%;
  }
  /* End of Conquer Cores Section */

  /* Best Sellers Section */
  .stackable-content.best-sellers {
    margin-top: 8rem;
  }
  /* End of Best Sellers Section */

  /* Reviews Section */
  .image-container.reviews img {
    width: 25%;
  }
  /* End of Reviews Section */

  /* Purpose Section */
  .stackable-content.purpose-section {
    margin-top: 8rem;
  }
  .purpose-section .image-container {
    margin: 75px 15% 0px;
  }
  .desktop-purpose-section {
    display: flex;
    margin: 5% 7%;
  }
  .purpose-section .tab-selection {
    font-size: 1vw;
  }
  .purpose-section .tab-selection .first-tab {
    padding: 4% 5%;
  }
  .purpose-section .tab-selection .second-tab {
    padding: 4% 5%;
  }
  .purpose-section .tab-selection .third-tab {
    padding: 4% 5%;
  }
  .purpose-section button {
    margin: 0px;
    padding: 1rem 3rem;
  }
  /* End of Purpose Section */

  /* Help Section */
  .stackable-content.help-section {
    margin-top: 8rem;
  }
  /* End of Help Section */

  /* Email PDF Section */
  .stackable-content.email-pdf {
    padding: 2rem 20% 6rem;
    margin: 5rem 10%;
    background-image: url("./images/grey-rectangle.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 30%;
    /* background-position-y: 110%; */
    background-size: 50%;
}
  }
  .email-pdf .text-container h2 {
    font-size: 4vw;
    margin: -1rem 0rem 3%;
  }
  .email-pdf .text-container p {
    font-size: min(2vw, 15px);
    padding: 0% 15%;
  }
  .email-pdf h4 {
    font-size: 1vw;
  }
  .email-pdf .image-container img {
    width: 35%;
  }
  .email-pdf .email-submission {
    padding: 0% 10%;
  }
  /* End Email PDF Section */
}

/* Moble Only Rules */
@media screen and (max-width: 600px) {
  h2 {
    font-family: IvyJournal;
    font-size: 9.5vw;
    margin: 7rem 0 0rem;
  }

  .desktop {
    display: none !important;
  }
  .main {
    background-color: white;
  }
  /* Hero Image Section */
  .hero-image .text-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .image-container img {
    width: 100%;
  }
  .image-container.offset-big img {
    position: relative;
    left: -60px;
    width: 136%;
  }
  /* End Hero Image Section */

  /* HollowWood Section */
  .HollowWood-image .button-container {
    display: flex;
    justify-content: center;
  }
  .image-container.HollowWood-image {
    display: flex;
    justify-content: center;
    margin: 6em 3em 3em;
  }
  .image-container.HollowWood-image img {
    width: 25rem;
  }
  /* End of HollowWood Section */

  /* Conquer Cores Section */
  .conquer-cores {
    background-image: url(images/ConquerCores.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  .conquer-cores h2 {
    font-size: 7.5vw;
  }

  .conquer-cores .text-container {
    padding: 375px 35px 50px 30px;
  }
  /* End of Conquer Cores Section */

  /* Habit Options Section */
  .habit-options .text-content {
  }
  .scroll-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* End of Habit Options Section */

  /* Best Sellers Section */

  /* End of Best Sellers Section */

  /* Reviews Section */

  /* End of Reviews Section */

  /* Start of Purpose Section */
  .purpose-section .button-container {
    display: flex;
    justify-content: center;
  }

  .purpose-section .image-container img {
    width: 85%;
  }
  .dynamic-container iframe {
    border-radius: 10px;
    width: 85%;
    height: 40vw;
  }
  .purpose-section button {
    margin: 0% 5%;
    padding: 1rem 5rem;
  }

  /* End of Purpose Section */
}
