a {
  display: block;
}
input {
  display: block;
}
div {display: block;}
/* These are the initial view ports. If you start resizing we may have to consider the design up to 800 px as well. Shouldnt be an issue though! */
/* Fonts */
h2 {
  font-family: IvyJournal;
  font-size: 9.5vw;
  margin: 5rem 0 1.5rem;
  
}
p {
  font-family: "Montserrat", sans-serif;
}
a {
  font-family: 'Montserrat';
  font-size: 0.75rem;
  padding: 10px;
  color: #585858;
}
/* Buttons */
button {
  font-family: 'Montserrat';
  padding: 18px 40px;
  border-radius: 30px;
  background-color: #b8c1c1;
  border: solid #b8c1c1;
  color: white;
}
button.black {
  background-color: black;
  border: solid black;
}

/* Hero-Image Section */

.button-link {
  margin-top: 1.5rem;
}
/* End Hero-Image Section */


/* Conquer Cores Section */
.conquer-cores {
  background-image: url(images/ConquerCores.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.conquer-cores h2 { 
  font-size: 7.5vw;
  margin: -1rem 0 1rem;
  position: relative;
  left: 10px;
}
.conquer-cores h4 {
  font-family: 'Montserrat';
  font-size: medium;
}
.conquer-cores p {
  font-size: smaller;
  margin-bottom: 25px;
}
.conquer-cores .style-block {
  background-color: #B0BDC6;
    padding: 5px 0px 5px 28px;
    margin-right: 60%;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Montserrat';
}
.conquer-cores .text-container {
  display: flex;
  color: white;
}
/* End of Conquer Cores Section */

/* Habit Options Section */
.habit-options .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.habit-options .image-container {
  color: white;
  border-radius: 30px;
  margin: 55px 25px 10px 25px;
}
.habit-options .image-container.addiction {
  background-color: #b0bdc6;
}
.habit-options .image-container img {
  width: 15%;
  padding: 100px 0px 0px 44px;
}
.habit-text-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* End of Habit Options Section */

/* Best Sellers Section */
.best-sellers .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.best-sellers .button-container {
  display: flex;
  justify-content: center;
}
/* End of Best Sellers Section */

/* Reviews Section */
.reviews .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.reviews .button-container {
  display: flex;
  justify-content: center;
}
/* End of Reviews Section */

/* Email PDF Section */
.stackable-content.email-pdf {
  background-color: #b8c1c1;
  border-radius: 15px;
  padding: 30px;
  margin: 2%;
}
.email-pdf .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.email-pdf .email-submission {
}
.email-pdf h4 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.email-pdf .image-container {
  padding: 0;
  margin: 0;
}
.email-pdf .image-container img {
  width: 45%;
  padding-left: 25%;
}
/* End of Email PDF Section */

/* Start of Purpose Section */
.purpose-section .text-container {
  text-align: center;
}
.purpose-section .paragraph-section{
  text-align: initial;
  margin: 30px 70px 60px 70px;
}
.purpose-section .image-container {
  background-color: lightgray;
  text-align: center;
  padding: 40px 0px;
  margin: 0px 30px;
  border-radius: 0px 0px 10px 10px;
}
.purpose-section .image-container img {
  width: 50%;
}
.purpose-section .tab-selection .first-tab {
  background-color: lightgray;
  padding: 25px;
  
  border-radius: 10px 0px 0px 0px;
}
.purpose-section .tab-selection .second-tab{
  background-color: pink;
  padding: 25px;
  padding-left: 42px;
  padding-right: 42px;
  
  border-radius: 0px 0px 0px 10px;
}
.purpose-section .tab-selection .third-tab{
  background-color: green;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
  
  
  border-radius: 0px 10px 0px 0px;
}

.purpose-section .tab-selection {
  display: flex;
  /* justify-content: space-evenly; */
  color: white;
  margin-top: 60px;
  margin-left: 30px;
  border-radius: 10px 10px 0px 0px;
  
  
}
/* End of Purpose Section */

/* Desktop Only Rules */

@media screen and (min-width: 600px) {
  /* Hero Image Section */
  .mobile {
    display: none !important;
  }
  .main {
    background-color: red;
  }
  .stackable-content.hero-image {
    display: flex;
  } 
  .hero-image .text-container {
    margin: 8% 0% 0% 10%;
  }
  .hero-image .text-content p {
    font-size: small
  }
  .button-link {
    display: flex;
    align-items: center;
  }
  .image-container.offset-big img {
    width: 100%;
  }
  /*End  Hero Image Section */

  /* Conquer Cores Section */
  .stackable-content.conquer-cores {
    background-position: 0% 50%;
  }
  .conquer-cores .text-container {
    padding: 375px 35px 50px 30px;
  }
  /* End of Conquer Cores Section */
}

/* Moble Only Rules */
@media screen and (max-width: 600px) {
  /* Hero Image Section */
  .desktop {
    display: none !important;
  }
  .main {
    background-color: white;
  }
  .hero-image .text-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .image-container img {
    width: 100%;
  }
  .image-container.offset-big img {
    position: relative;
    left: -60px;
    width: 136%;
  }

  /* End Hero Image Section */

  /* HollowWood Section */
  .HollowWood-image .button-container {
    display: flex;
    justify-content: center;
    
  }
  .image-container.HollowWood-image {
    display: flex;
    justify-content: center;
    margin: 6em 3em 3em;
  }
  .image-container.HollowWood-image img {
    width: 25rem
  }

  /* End of HollowWood Section */

  /* Conquer Cores Section */
  .conquer-cores .text-container {
    padding: 375px 35px 50px 30px;
  }
  /* End of Conquer Cores Section */

  /* Habit Options Section */
  .habit-options .text-content {
    padding: 35px 75px;
  }
  .scroll-arrows {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  /* End of Habit Options Section */

  /* Best Sellers Section */

  /* End of Best Sellers Section */

  /* Reviews Section */
  .image-container.reviews img {
    padding: 13%;
    width: 75%;
  }
  /* End of Reviews Section */

  /* Start of Purpose Section */
.purpose-section .button-container {
  display: flex;
  justify-content: center;
}

}
/* End of Purpose Section */
}
