.redesign-HP-2021 a {
  display: block;
}
.redesign-HP-2021 input {
  display: block;
}

.redesign-HP-2021 body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.redesign-HP-2021 .pathed {
  fill: white;
}
.redesign-HP-2021 .stroked {
  stroke: white;
}
.redesign-HP-2021 .filled {
  fill: rgb(164, 181, 181);
}
.redesign-HP-2021 .special-filled {
  filter: invert(1);
}
.redesign-HP-2021 .contain {
  max-width: 100%;
  overflow-x: hidden;
}
.redesign-HP-2021 a#Quiz {
  padding: 0px;
}

.redesign-HP-2021 .hidden {
  display: none;
}
/* These are the initial view ports. If you start resizing we may have to consider the design up to 800 px as well. Shouldnt be an issue though! */
/* Fonts */
.redesign-HP-2021 h2 {
  font-family: IvyJournal;
  line-height: 110%;
  font-weight: bold;
}
.redesign-HP-2021 p {
  margin-top: 1.7em;
  font-family: "Montserrat", sans-serif;
}
.redesign-HP-2021 .bold-text {
  -webkit-text-stroke: thin;
  font-weight: bold;
}
.redesign-HP-2021 a {
  font-family: "Montserrat";
  font-size: 0.75rem;
  padding: 10px;
  color: #585858;
}
/* Buttons */
.redesign-HP-2021 button {
  font-family: "Montserrat";
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: #b8c1c1;
  border: solid #b8c1c1;
  color: white;
  cursor: pointer;
  outline: none;
}
.redesign-HP-2021 .hero-image button {
  font-weight: 500;
}
.redesign-HP-2021 .HollowWood-image button {
  font-weight: 300;
  font-size: 11px;
  padding: 0.7rem 2rem;
}
.redesign-HP-2021 button.blacktwo {
  background-color: #262626;
  border: solid #262626;
  cursor: pointer;
  font-weight: 200;
}
.redesign-HP-2021 button.black {
  background-color: #141414;
  border: solid #141414;
  cursor: pointer;
  font-weight: 200;
}
.redesign-HP-2021 .conquer-cores button {
  font-weight: 400;
}
.redesign-HP-2021 .best-sellers button {
  font-size: 11px;
  cursor: pointer;
  font-weight: 300;
}
.redesign-HP-2021 .email-pdf button {
  font-size: 12px;
  padding: 0.5rem 2.15rem;
}
.redesign-HP-2021 .reviews button {
  font-weight: 500;
  padding: 0.6rem 1.8rem;
  font-size: 11px;
  background: transparent;
  border: 0px;
  color: #a5adae;
}

.redesign-HP-2021 .disabled {
  display: none;
}

/* Scroll arrows */
.redesign-HP-2021 .scroll-arrows {
  margin: 35px 0px 70px 0px;
}

.redesign-HP-2021 .scroll-arrows h4 {
  font-family: "Montserrat";
  color: lightgrey;
  font-size: min(3vw, 11px);
  margin: 1.33em;
  font-weight: 200;
}
.redesign-HP-2021 .left-arrow {
  transform: rotate(180deg);
}
.redesign-HP-2021 .best-sellers .scroll-arrows {
  margin-top: 5px;
}
/* End of Scroll arrows */

/* Hero-Image Section */

.redesign-HP-2021 .button-link {
  margin-top: 1.5rem;
}
/* End Hero-Image Section */

/* Block 3 Section */
.reviews.content-container {
  background: white;
}

.reviews.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.results-dont-lie{
  width: 50%;
  margin-top: -25px;
}

.reviews.header p {
  margin: 0;
}

.reviews.carousel{
  background-color: transparent;
  margin: 3% -4% 0%;
}

.reviews.review-cell {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 260px;
  height: 370px;
  padding: 10% 10% 0 17.5%;
}

.reviews.review-cell-header p {
  font-size: 16px;
  margin-bottom: 7px;
}

.reviews.review-cell-body {
  margin-top: -20px;
}

.reviews.review-cell-body p {
  font-size: 16px;
  font-weight: 200;
}

.reviews.review-cell-footer {
  display: flex;
  justify-content: space-between;
}

/* .reviews.prev-arrow {
  transform: scaleX(-1);
  position: absolute;
  left: 1%;
  margin-top: -49%;
}

.reviews.next-arrow {
  position: absolute;
  right: 1%;
  margin-top: -49%;
} */

@media only screen and (min-width: 600px) {
  
  .reviews.content-container {
    padding: 12% 10% 0 10%;
  }

  .results-dont-lie{
    width: 18%;
    margin-top: -35px;
    margin-bottom: 10px;
    min-height: 110px;
    min-width: 250px;
  }

  .reviews.carousel{
    margin: -10% -10% 0%;
    padding: 10%;
  }

  .reviews.review-cell {
    width: 270px;
    height: 380px;
    padding: 0% 5% 0% 4.5%;
  }

  .flickity-button.flickity-prev-next-button.previous{
    margin-top: 0;
  }

  .flickity-button.flickity-prev-next-button.next{
    margin-top: 0;
  }

  /* .reviews.prev-arrow {
    margin-top: -26%;
  }

  .reviews.next-arrow {
    margin-top: -26%;
  } */

}

/* Block 3 End */

/* Conquer Cores Section */

.conquer-cores h2 {
  margin: -1rem 0 1rem;
  position: relative;
}
.conquer-cores h4 {
  font-family: "Montserrat";
  font-weight: 100;
  letter-spacing: 1px;
}
.conquer-cores p {
  padding-right: 18%;
  margin-bottom: 20px;
  margin-top: -4px;
}
.conquer-cores .style-block {
  background-color: #9eadb7;
  max-width: 87px;
  min-width: 87px;
  border-radius: 3px;
  font-family: "ivyjournal";
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  padding: 4px 8px;
}
.conquer-cores .text-container {
  display: flex;
  color: white;
}
/* End of Conquer Cores Section */

/* Habit Options Section */
.habit-options .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.habit-options .image-container {
  color: white;
  border-radius: 30px;
  margin: 60px 1rem 2rem 1rem;
  max-width: 220px;
  padding-bottom: 17px;
}
.habit-options .flickity-slider {
  left: 27px !important;
}
.habit-options .scroll-arrows {
  margin: 4px 0px 45px 0px;
}

.habit-options .popular-token {
  display: flex;
  justify-content: center;
  background-color: #869098;
  font-family: "Montserrat";
  font-size: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 4px;
  position: relative;
  top: -7px;
  font-weight: 200;
  border-radius: 2px;
  letter-spacing: 1.5px;
}
.habit-options .image-container .plant-image {
  position: absolute;
}
.habit-options .image-container .plant-image.black-pepper {
  margin: -20px 0px 0px -68px;
  width: 95%;
}
.habit-options .image-container .plant-image.mint {
  margin: 0px 0px 0px 20px;
  width: 60%;
}
.habit-options .image-container .plant-image.bergamot {
  margin: 0px 0px 0px -48px;
  width: 95%;
}
.habit-options .image-container .plant-image.lavender {
  margin: 0px 0px 0px -70px;
  width: 100%;
}
.habit-options .image-container .plant-image.thyme {
  margin: 0px 0px 0px -66px;
  width: 100%;
}
.habit-options .image-container .plant-image.eucalyptus {
  margin: 0px 0px 0px -70px;
  width: 100%;
}
.habit-options .image-container.addiction {
  background-color: #b0bdc6;
}
.habit-options .image-container.focus {
  background-color: #b5b5b5;
}
.habit-options .image-container.relaxation {
  background-color: #8e9a9a;
}
.habit-options .image-container.emotional {
  background-color: #8e959a;
}
.habit-options .image-container.physical {
  background-color: #bfcece;
}
.habit-options .image-container.respiratory {
  background-color: #9fadad;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 75%;
  max-height: 176px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.habit-options .image-container .habit-text-container .habit-arrow {
  margin: 0px;
  width: 12%;
}
.habit-options .image-container.addiction img {
  margin: 20.5% 0px 0px 8.6%;
}
.habit-options .image-container.relaxation img {
  margin: 29% 0px 0px 1%;
}
.habit-options .image-container img {
  width: 3.6rem;
  margin: 29% 0px 0px 6%;
}
.habit-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
  margin: 0% 11%;
}
.habit-options .habit-text-container h4 {
  font-size: 10px;
  margin-top: 0px;
  font-weight: 200;
  margin-bottom: 0px;
}
.habit-options h3 {
  margin-bottom: 0px;
  margin-top: -10px;
  font-size: 18px;
  font-weight: 600;
  font-family: "ivyjournal";
}
/* End of Habit Options Section */

/* Best Sellers Section */
.best-sellers .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.best-sellers .button-container {
  display: flex;
  justify-content: center;
}
/* End of Best Sellers Section */

/* Reviews Section */

.image-container.reviews img {
  width: 70%;
  height: 70%;
}
.reviews .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.reviews .button-container {
  display: flex;
  justify-content: center;
}
.stackable-content.reviews {
  margin-top: 5rem;
}
.testimonial-person .grey-text {
  color: #8e9a9a;
  margin-top: -0.5rem;
}
.testimonial-arrow-block {
  margin: 5% 0%;
}
/* End of Reviews Section */

/* Help Section */
.image-container.help-section .circle-selection h5 {
  font-weight: 400;
}
.help-section .circle-selection {
  padding-bottom: 10%;
}

#svg_wrap {
  margin: 40px 0 10px 0;
}
.help-section .text-content p {
  padding: 0 20%;
}
.help-section .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.help-section .button-container {
  display: flex;
  justify-content: center;
}
.help-section .image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 35px 5% 27px;
  font-family: "Montserrat";
  font-size: 4vw;
}
.help-section .circle-selection {
  width: 33%;
  text-align: center;
}
.help-section .image-container .circle-selection .circle-test {
  border: 1.7px solid black;
  border-radius: 50%;
}

.help-section .image-container .circle-selection img {
  width: 65%;
}
.multi-button {
  cursor: pointer;
}
.dynamic-title-block {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.dynamic-title-block .option-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b0bdc6;
  padding: 0;
  width: 80%;
  border-radius: 10px;
  font-family: "Montserrat";
}
.dynamic-title-block .option-block p {
  padding: 0% 8%;
  color: white;
  font-weight: 600;
  font-size: 5vw;
  margin: 7% 0;
  font-family: IvyJournal;
}
.dynamic-options p {
  margin: 0;
}

.dynamic-title-block .option-block img {
  width: 16%;
  padding-right: 8%;
}

.cell-flex {
  display: flex;
  justify-content: center;
}

.menuOption-holder {
  margin-bottom: 80px;
}

.dynamic-options {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 13px;
}
.dynamic-options .option {
  border: solid 1px #707070;
  width: 48%;
  border-radius: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
  font-family: "Montserrat";
  cursor: pointer;
}
.multi-step-buttons {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  cursor: pointer;
}

.multi-step-buttons .button {
  padding: 1rem 2.5rem;
}

.multi-step-buttons .prev {
  margin-top: 20px;
  font-size: 13px;
  color: #141414;
  cursor: pointer;
}

.multi-step .text-container p {
  font-size: min(3.2vw, 17px);
}

.email-step {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.email-step p {
  margin-left: 10%;
  font-size: min(3vw, 15px);
  padding-right: 5%;
}

.email-input-step .text-content {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 60px;
}

.email-input-step input {
  font-family: "Montserrat";
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-bottom: 1rem;
  min-width: 100px;
  width: 100%;
  box-sizing: border-box;
}

.loading-section {
  margin: 35% 0;
}

.animated-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated-loader .progress {
  width: 27%;
  margin: 14px 0;
}

/* Loading Bar Animation. */
.progress {
  justify-content: flex-start;
  border-radius: 3px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 4vw;
  width: 500px;
}

.progress-value {
  animation: load 1.5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 6px;
  background: #d9d9d9;
  height: 100%;
  width: 0;
  padding: 6px 0;
}
.progress-value.two {
  animation: load 1.5s normal forwards;
  animation-delay: 1s;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 6px;
  background: #d9d9d9;
  height: 100%;
  width: 0;
}
.progress-value.three {
  animation: load 1.5s normal forwards;
  animation-delay: 2s;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 6px;
  background: #d9d9d9;
  height: 100%;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animated-loader svg {
  width: 9%;
  margin-left: 7px;
}

.animated-loader .path {
  stroke-linecap: round;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: dash 300ms ease forwards;
  -webkit-animation: dash 300ms ease forwards;
  animation-delay: 1s;
}
.animated-loader .path.two {
  stroke-linecap: round;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: dash 300ms ease forwards;
  animation-delay: 2s;
}
.animated-loader .path.three {
  stroke-linecap: round;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: dash 300ms ease forwards;
  animation-delay: 3s;
}

.animated-loader circle {
  fill: #d9d9d9 !important;
}

@keyframes dash {
  to {
    stroke-dashoffset: 60;
    -webkit-stroke-dashoffset: 60;
  }
}

/* End Help Section */

/* Email PDF Section */
.stackable-content.email-pdf {
  background-color: #b8c1c1;
  border-radius: 15px;
  padding: 1.5rem 1rem 2rem;
  margin: 7rem 4.2%;
}
.email-pdf .text-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.email-pdf .email-submission input {
  font-family: "Montserrat";
  padding: 17px;
  border-radius: 10px;
  border: solid white;
  margin-bottom: 10%;
  margin-top: 12%;
  min-width: 100px;
  width: 100%;
  box-sizing: border-box;
  font-size: 3vw;
}
.email-pdf .text-container h2 {
  font-size: 8vw;
  margin: -0.5rem 0rem 10%;
}
.email-pdf p {
  font-size: 3vw;
  padding: 0% 15%;
}
.email-pdf h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  color: #828888;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px;
  margin-top: 5px;
}
.email-pdf .image-container {
  display: flex;
  justify-content: center;
}
.email-pdf .image-container img {
  width: 26%;
  height: 26%;
  margin: 1.5rem;
}
/* End of Email PDF Section */

/* Start of Purpose Section */
.purpose-section .text-container {
  text-align: center;
}
.purpose-section .paragraph-section {
  text-align: initial;
  margin: 15px 10% 54px 10%;
}
.purpose-section p {
  margin-bottom: -10px;
}

.purpose-section .image-container {
  background-color: lightgray;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 35px;
  margin: 3rem 7% 0px;
}

.tab-selection {
  cursor: pointer;
}

.purpose-section .tab-selection .first-tab {
  background-color: #d1d1d1;
  padding: 7% 6%;
  width: 33%;
  border-radius: 10px 0px 0px 0px;
}
.purpose-section .tab-selection .second-tab {
  background-color: #b8c1c1;
  width: 33%;
  padding: 7%;

  border-radius: 0px 0px 0px 10px;
}
.purpose-section .tab-selection .third-tab {
  background-color: #9fa7a7;
  width: 33%;
  padding: 7%;

  border-radius: 0px 10px 0px 0px;
}

.purpose-section .tab-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: white;
  border-radius: 10px 10px 0px 0px;
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 10px;
}
/* End of Purpose Section */

/* Desktop Only Rules */

@media only screen and (min-width: 600px) {
  .mobile {
    display: none !important;
  }
  .main {
    background-image: url(./images/wave.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 6rem;
    background-position-y: -1rem;
  }
  .header {
    margin-bottom: 5rem;
  }
  h2 {
    font-size: min(2.8vw, 70px);
    margin: 0;
    margin-bottom: 10px;
  }
  p {
    font-size: min(1vw, 13px);
  }

  /* Hero Image Section */

  .stackable-content.hero-image {
    display: flex;
    margin: 3rem 5%;
  }
  .hero-image .text-container {
    margin: 13% 0% 0% 16%;
    width: 35%;
  }
  .hero-image h2 {
    font-size: min(4vw, 70px);
    letter-spacing: 0.05vw;
    margin: 0;
    margin-bottom: 10px;
  }
  .hero-image .text-content p {
    font-size: 0.9vw;
    line-height: 1.2vw;
    margin-bottom: 3rem;
    margin-top: 1.25rem;
  }
  a {
    padding: 0px 0px 0px 10%;
    font-size: 0.9vw;
  }
  .hero-image button {
    padding: 1rem 2.2rem;
    font-size: 1vw;
  }

  .button-link .button-float {
    float: left;
    padding-right: 7%;
    padding-bottom: 5%;
  }
  .button-link .link-float {
    padding-top: 5%;
  }
  .image-container.image-container.offset-big {
    width: 50%;
    position: relative;
    left: -10%;
  }
  .image-container.offset-big img {
    width: 112%;
  }
  /*End  Hero Image Section */

  /* HollowWood Section */
  .stackable-content.HollowWood-image {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    background-image: url("./images/light-grey-circle.png");
    background-repeat: no-repeat;
    margin: 14rem 10% 2rem;
    background-position-x: 12%;
    background-position-y: bottom;
    background-size: 28%;
  }
  .HollowWood-image .natural-leaf-image {
    font-family: "Montserrat";
    text-align: center;
    font-size: min(1vw, 10px);
    align-self: flex-end;
    left: 3%;
    position: relative;
    width: 11%;
  }
  .HollowWood-image .natural-leaf-image img {
    padding-bottom: 0.5rem;
    width: 65%;
  }
  .HollowWood-image button {
    font-weight: 500;
    padding: 1rem 2.6rem;
    font-size: 0.85vw;
  }
  .HollowWood-image p {
    font-size: min(1vw, 13px);
    line-height: 1.25vw;
    margin-bottom: 2.5rem;
    max-width: 18rem;
    margin-top: 1.25rem;
  }
  .image-container.HollowWood-image {
    width: 50%;
  }
  .image-container.HollowWood-image img {
    width: 70%;
  }
  .HollowWood-image .text-container {
    width: 35%;
  }
  .HollowWood-image .text-container h2 {
    line-height: 3.75vw;
  }
  .HollowWood-image .button-link button {
    font-size: min(2vw, 10px);
  }

  /* End of HollowWood Section */

  /* Habit Options Section */
  .stackable-content.habit-options {
    margin-top: 12rem;
  }
  .habit-options .text-content p {
    margin-top: 0;
  }
  .habit-options .text-content {
    margin-bottom: 60px;
  }
  .habit-options .how-we-can-help {
    display: flex;
    justify-content: center;
  }
  .habit-options .habit-container {
    display: flex;
  }

  .habit-options .habit-container h3 {
    margin-bottom: 0px;
    margin-top: -10px;
    font-size: 20.5px;
    font-weight: 600;
    font-family: "ivyjournal";
  }
  .habit-options .habit-text-container h4 {
    font-size: 11.5px;
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .habit-options .habit-container .image-container {
    max-width: 30rem;
    width: 16.25rem;
    margin: 0px 0.8rem 1.5rem 1rem;
  }
  .habit-options .habit-container .image-container .plant-image.black-pepper {
    margin: -12px 0px 0px -77px;
    width: 250px;
  }
  .habit-options .habit-container .image-container .plant-image.mint {
    margin: 0px 0px 0px 20px;
    width: 155px;
  }
  .habit-options .habit-container .image-container .plant-image.bergamot {
    margin: 0px 0px 0px -51px;
    width: 260px;
  }
  .habit-options .habit-container .image-container .plant-image.eucalyptus {
    margin: 0px 0px 0px -44px;
    width: 240px;
  }
  .habit-options .habit-container .image-container .plant-image.thyme {
    margin: 0px 0px 0px -66px;
    width: 260px;
  }
  .habit-options .image-container .plant-image.lavender {
    margin: 0px 0px 0px -55px;
    width: 240px;
  }
  .habit-options .popular-token {
    margin-left: 25%;
    margin-right: 23%;
    padding: 5px;
  }
  /* End Habit Options Section */

  /* Conquer Cores Section */
  .stackable-content.conquer-cores {
    margin-top: 12rem;
    background-image: url("images/conquerCoresDesk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  .conquer-cores .style-block {
    background-color: #b0bdc6;
    max-width: 103px;
    min-width: 87px;
    border-radius: 3px;
    font-family: "ivyjournal";
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    padding: 4px 8px;
  }
  .conquer-cores p {
    margin-bottom: 50px;
    padding-right: 50%;
    font-size: min(3vw, 16px);
    margin-top: 1.33rem;
  }
  .conquer-cores h4 {
    font-size: 20px;
    margin-bottom: 1.4rem;
  }
  .conquer-cores h2 {
    font-size: 3.65vw;
  }
  .conquer-cores .text-container {
    padding: 375px 0px 5% 10%;
  }
  .conquer-cores button {
    padding: 1rem 3.3rem;
    font-size: 16px;
    margin-bottom: 25px;
  }
  /* End of Conquer Cores Section */

  /* Best Sellers Section */
  .stackable-content.best-sellers {
    margin-top: 8rem;
  }
  .best-sellers button {
    padding: 0.65rem 3.7rem;
  }
  /* End of Best Sellers Section */

  /* Reviews Section */
  .stackable-content.reviews {
    margin-top: 5rem;
    background-color: #e6e6e6;
  }
  .reviews .text-content p {
    margin: 0;
  }

  .reviews .text-content .testimonial-arrow-block p {
    padding-right: 10%;
    line-height: min(3vw, 45px);
  }
  .reviews .text-content .testimonial-person .person {
    font-size: 1.15vw;
    margin-top: 9%;
  }
  .image-container.reviews img {
    width: 64%;
  }
  .reviews .text-container.testimonial {
    text-align: inherit;
    width: 75%;
  }
  .testimonial.content-container {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    width: 61%;
    margin-top: 7%;
  }
  .reviews .text-container .text-content {
    margin-top: 6%;
  }
  .reviews .image-container {
    width: 87%;
    display: flex;
    justify-content: center;
  }
  .reviews .reviews-width {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reviews button {
    font-weight: 500;
    padding: 1rem 2rem;
    font-size: 12px;
    margin: 8% 0;
  }
  .testimonial-arrow-block p {
    font-size: min(2vw, 25px);
  }
  /* End of Reviews Section */

  /* Purpose Section */
  .stackable-content.purpose-section {
    margin-top: 8rem;
  }
  .purpose-section .image-container {
    margin: 75px 21.5% 0px;
  }
  .image-section.purpose-section {
    width: 50%;
  }
  .image-section.purpose-section img {
    width: 100%;
    border-radius: 5px;
  }
  .purpose-section .paragraph-section {
    width: 50%;
    margin: 0% 0% 0% 10%;
  }
  .purpose-section .paragraph-section .bold-text {
    font-size: min(1vw, 16px);
  }
  .purpose-section .paragraph-section .tab-paragraph {
    font-size: min(2vw, 9px);
    margin-top: 1em;
  }
  .desktop-purpose-section {
    display: flex;
    align-items: center;
    padding: 3% 7%;
  }
  .purpose-section .tab-selection .first-tab {
    padding: 3% 5%;
    font-size: 10px;
  }
  .purpose-section .tab-selection .second-tab {
    padding: 3% 5%;
    font-size: 10px;
  }
  .purpose-section .tab-selection .third-tab {
    padding: 3% 5%;
    font-size: 10px;
  }
  .purpose-section .button-container {
    padding-top: 10%;
  }
  .purpose-section .button-container button {
    margin: 0px;
    font-size: 0.7vw;
    padding: 0.5rem 10%;
  }
  .purpose-section .tab-selection {
    font-size: 1vw;
  }
  .purpose-section p {
    margin-bottom: 0;
  }

  /* End of Purpose Section */

  /* Help Section */
  .stackable-content.help-section {
    margin-top: 8rem;
  }
  .image-container.help-section {
    margin: 4% 33% 3.5%;
  }
  #svg_wrap {
    margin: 40px 0 10px 0;
    padding: 0 85px;
  }
  .help-section .multi-button {
    width: 52% !important;
  }
  .help-section .text-container p {
    margin-bottom: 0px;
  }
  .image-container.help-section .circle-selection h5 {
    margin-top: 0.2rem;
    font-size: 1vw;
    font-weight: 500;
  }
  .multi-step-buttons .button {
    padding: 1.15rem 3.3rem;
    font-size: 16px;
  }
  .pageTwoCenter {
    display: flex;
    justify-content: center;
  }
  .pageTwo {
    width: 50%;
  }
  .dynamic-title-block .option-block p {
    padding: 0% 8%;
    color: white;
    font-weight: 600;
    font-size: 2vw;
    margin: 7% 0;
    font-family: IvyJournal;
  }
  .loader-flex {
    display: flex;
    justify-content: center;
  }
  .loading-section {
    margin: 5% 0;
  }
  .progress {
    height: 2vw;
  }
  .progress-value {
    padding: 0;
  }
  .animated-loader .progress {
    width: 27%;
    margin: 8px 0;
  }
  .loader-container {
    margin-top: 40px;
  }

  /* End of Help Section */

  /* Email PDF Section */
  .stackable-content.email-pdf {
    padding: 2rem 20% 4rem;
    margin: 12rem 16%;
  }
  .email-pdf .text-container h2 {
    font-size: 2.5vw;
    margin: -1rem 0rem 3%;
  }
  .email-pdf .text-container p {
    font-size: min(1vw, 13px);
    padding: 0% 20%;
  }
  .email-pdf h4 {
    font-size: 0.8vw;
  }
  .email-pdf .image-container img {
    width: 22%;
  }
  .email-pdf .email-submission {
    padding: 0% 13%;
  }
  .email-pdf .email-submission input {
    font-size: 0.8vw;
    padding: 20px;
    margin-bottom: 18%;
    margin-top: 15%;
  }
  .email-pdf button {
    font-size: 13px;
    padding: 0.7rem 3.1rem;
    margin-bottom: 5%;
  }
  /* End Email PDF Section */
}

/* Moble Only Rules */
@media only screen and (max-width: 600px) {
  h2 {
    font-family: IvyJournal;
    font-size: 9vw;
    margin: 5.7rem 0 0rem;
    line-height: 110%;
  }
  p {
    font-size: min(3vw, 17px);
  }

  .desktop {
    display: none !important;
  }

  .main {
    background-color: white;
  }
  /* Hero Image Section */
  .hero-image .text-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .image-container img {
    width: 100%;
  }
  .image-container.offset-big img {
    position: relative;
    left: -13%;
    width: 136%;
  }
  .link-float {
    font-weight: 400;
    margin-top: 0.3em;
  }
  /* End Hero Image Section */

  /* HollowWood Section */
  .HollowWood-image .button-container {
    display: flex;
    justify-content: center;
  }
  .image-container.HollowWood-image {
    display: flex;
    justify-content: center;
    margin: 5rem 3rem 2.2rem;
  }
  .image-container.HollowWood-image img {
    width: 95%;
    height: 95%;
  }
  /* End of HollowWood Section */

  /* Conquer Cores Section */
  .conquer-cores {
    background-image: url(images/ConquerCores.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  .conquer-cores h2 {
    font-size: 7.5vw;
  }
  .conquer-cores h4 {
    font-size: 13px;
  }
  .conquer-cores p {
    font-size: min(3vw, 11px);
  }
  .conquer-cores button {
    padding: 1.2em 2.55rem;
    font-size: 11px;
  }

  .conquer-cores .text-container {
    padding: 290px 35px 47px 25px;
  }
  /* End of Conquer Cores Section */

  /* Habit Options Section */
  .habit-options .text-content {
  }
  .scroll-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* End of Habit Options Section */

  /* Best Sellers Section */
  .best-sellers button {
    padding: 0.9rem 5rem;
  }
  /* End of Best Sellers Section */

  /* Reviews Section */
  .stackable-content.reviews {
    background-image: url("./images/grey-backgroundtestimonials.png");
    background-repeat: no-repeat;
    background-size: min(107%, 540px);
    padding-bottom: 10rem;
    padding-top: 3rem;
    background-position: top;
    background-position-y: 80%;
  }
  .text-container.testimonial {
    margin: 0% 6%;
    margin-bottom: 10%;
  }
  .reviews .image-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  .reviews .testimonial-person p {
    font-size: max(2vw, 13px);
  }

  .testimonial-arrow-block {
    display: flex;
    align-items: center;
  }
  .testimonial-arrow-block p {
    font-size: min(5vw, 20px);
    margin: 4%;
  }

  .testimonial-person p.grey-text {
    font-size: max(2vw, 12px);
  }
  /* End of Reviews Section */

  /* Start of Purpose Section */
  .purpose-section .button-container {
    display: flex;
    justify-content: center;
  }

  .purpose-section .image-container img {
    width: 85%;
    border-radius: 10px;
  }
  .dynamic-container iframe {
    border-radius: 10px;
    width: 85%;
    height: 40vw;
  }

  .purpose-section button {
    margin: 0% 5%;
    padding: 0.6rem 3.4rem;
    font-size: 11px;
  }

  /* End of Purpose Section */

  /* Help Section */
  .image-container.help-section .circle-selection h5 {
    margin-top: 0.5rem;
  }
  /* End of Help Section */
}

/* Bit of Tablet Help */
@media only screen and (max-width: 900px) {
  /* How can we Help Section */
  .habit-options .habit-container .image-container {
    max-width: 30rem;
    width: 175px;
    margin: 0px 0.8rem 1.5rem 1rem;
  }

  .habit-options .habit-container .image-container .plant-image.black-pepper {
    margin: -12px 0px 0px -77px;
    width: 175px;
  }
  .habit-options .habit-container .image-container .plant-image.mint {
    margin: 0px 0px 0px -1px;
    width: 100px;
  }
  .habit-options .habit-container .image-container .plant-image.bergamot {
    margin: 0px 0px 0px -63px;
    width: 175px;
  }
  .habit-options .habit-container .image-container .plant-image.eucalyptus {
    margin: 0px 0px 0px -44px;
    width: 165px;
  }
  .habit-options .habit-container .image-container .plant-image.thyme {
    margin: 0px 0px 0px -66px;
    width: 185px;
  }
  .habit-options .image-container .plant-image.lavender {
    margin: 0px 0px 0px -55px;
    width: 165px;
  }
}
